/OneDrive/Documentos/NetBeansProjects/numerosDel1al100/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/numerosDel1al100/build/
/OneDrive/Documentos/NetBeansProjects/numerosDel1al100/dist/
/OneDrive/Documentos/NetBeansProjects/empleadoSalario/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/empresa/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/empresa/build/
/OneDrive/Documentos/NetBeansProjects/JavaApplication6/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/JavaApplication6/build/
/OneDrive/Documentos/NetBeansProjects/JavaApplication6/dist/
/OneDrive/Documentos/NetBeansProjects/Arreglo/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Ejemplo1/nbproject/private/
