body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(246, 246, 246);
    /*color letras*/
    color: rgb(232, 232, 232);
    margin: 150px;
    padding: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}