<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movimientos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <h2><i class="fas fa-list-alt"></i>Movimientos de la cuenta</h2>

        <table>
            <thead>
                <tr>
                    <th><i class="fas fa-calendar"></i>Fecha</th>
                    <th><i class="fas fa-exchange"></i>Tipo</th>
                    <th><i class="fas fa-money-bill-wave"></i>Monto</th>
                </tr>
            </thead>

            <body>
                <tr th:each="mov : ${motion}">
                    <td th:text="${#temporals.format(mot.date, 'dd/MM/yyyy HH:mm')}">Fecha</td>
                    <td th:text="${mot.type}">Tipo</td>
                    <td th:text="${mov.tipo == 'DEBITO' ? '-' : ''} + ${#numbers.formatDecimal(mot.amount, 1, 2)}"
                        th:style="${mot.type == 'DEBITO'} ? 'color: #ff6666' : 'color: #66ff66'">Monto</td>
                </tr>
            </body>
        </table>

        <a th:href="@{/atm/menu}" class="btn-secondary"><i class="fas fa-arrow-left"></i>Volver al menu</a>

    </div>

</body>

</html>